{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
[{"mode":"alts"}, "Shaal", "Satai", "Shai Alyt", "Alyt", "Min'entil", "Zhaden", "Zhaden", "Zhaden", "", ""],
      [{"mode":"serie"},
[{"mode":"alts"}, "Aal", "Ar", "Ash", "Av", "Bar", "Bhur", "Bran", "Cal", "Clar", "Cop", "Dar", "Del", "Dhal", "Dr", "Duk"],
[{"mode":"alts"}, "ann", "denn", "lenn", "an", "aier", "aia", "enn", "li", "mer", "lann", "iri", "aal", "hat"]],
[{"mode":"alts"}, " ra'Mir", " ra'Dosh", " ra'Zir", " ra'Kort", " ra'Vonilbok", " ra'Ahaeldon", " ra'Bokaal", " ra'Chudomo", " ra'Fe'enduma", " ra'Fi'irilmer", " ra'Fi'sularae", " ra'Mirshai", " ra'Oorehak", " ra'Shaibar'nik", " ra'Tha'domo", " ra'Valir", " ra'Vanya", "", ""]
    ]
  ]
//unfinished, see http://www.jumpnow.de/dic/view_names.php
}
