{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
[{"mode":"alts"}, "Shaal ", "Satai ", "Shai Alyt ", "Alyt ", "Min'entil ", "Zhaden ", "Zhaden ", "Zhaden ", "", "", "", "", "", "", "", "", "", ""],
      [{"mode":"alts"}, "Akel", "Deeron", "Delenn", "Mayal", "Shaal", "Sihnon", "Yeyani"],
[{"mode":"alts"}, " ra'Mir", " ra'Dosh", " ra'Zir", " ra'Kort", " ra'Vonilbok", " ra'Ahaeldon", " ra'Bokaal", " ra'Chudomo", " ra'Fe'enduma", " ra'Fi'irilmer", " ra'Fi'sularae", " ra'Mirshai", " ra'Oorehak", " ra'Shaibar'nik", " ra'Tha'domo", " ra'Valir", " ra'Vanya", "", "", "", "", "", "", "", "", "", ""]
    ]
  ]
}
